.img_group {
    display: flex;
    justify-content: space-between;
  }
  
  .side_img_block,
  .top_img_block {
    background-color: #f6f6f6;
    border-radius: 38px;
  }
  
  @media only screen and (max-width: 479px) {
    .img_group {
      display: block;
    }
  }
  
  .horizontal_tab_row {
    display: flex;
    justify-content: space-between;
  }
  
  .image_left {
    width: 46%;
    background-color: #f6f6f6;
    margin: 15px;
    padding: 15px;
    border-radius: 38px;
  }
  
  .image_right {
    width: 46%;
    background-color: #f6f6f6;
    margin: 15px;
    padding: 15px;
    border-radius: 38px;
  }
  
  .rendered_clickpopup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  
  .hair_type_popup {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0px, -50%);
    background: #ffffff75;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .radio_popup {
    align-items: flex-start;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px 2px;
    /* position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, 0px); */
    padding: 25px;
    z-index: 9;
    width: 200px;
    white-space: nowrap;
  }
  .radio_popup p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0;
    line-height: 25px;
    text-align: center;
    font-family: "poppinsmedium";
    font-style: normal;
    text-wrap: wrap;
  }
  .radio_popup p:last-child {
    margin-bottom: 15px;
  }
  .radio_popup form {
    margin-top: 15px;
  }
  .radio_popup .input_style_fiels {
    display: block;
    padding: 6px 0;
    font-size: 14px;
    font-family: "poppinsmedium";
    font-style: normal;
    cursor: pointer;
    width: 51%;
  }
  .radio_popup .input_style_fiels label{
cursor: pointer;
  }
  .radio_popup .input_style_fiels input {
    accent-color: #000;
    cursor: pointer;
  }
  .hairMapping_Select_btn {
    margin-top: 15px;
    text-align: center;
  }
  .popup_block{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
  }
  .submit_button {
    padding: 10px 30px;
    font-family: "poppinsmedium";
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
  }
  @media only screen and (max-width: 769px) {
      .horizontal_tab_row{
          display: block;
      }
      .image_left{
          width: 100%;
          margin: 0;
          padding: 0;
      }
      .image_right{
          width: 100%;
          margin: 30px 0 0;
          padding: 0;
      }
  }