.result_content_block {
    padding: 50px 0;
}

.result_content_block p {
    text-align: left;
    font-size: 16px;
    line-height: 25px;
    color: #1C1C1C;
    font-family: 'poppinsmedium';
    margin: 0 0 20px 0;

}

.result_content_block p:last-child {
    margin-bottom: 0;
}

.resultblock_button {
    text-align: center;
}

.result_module .resultblock_button {
    margin-bottom: 50px;
}

.result_cta_module {
    background-color: #FAFAFA;
    padding: 100px 0;
}

.result_cta_module h4 {
    font-size: 27px;
    font-family: 'poppinsbold';
    line-height: 40px;
    color: #1C1C1C;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.result_cta_module .resultblock_button {
    margin-top: 25px;
}

@media only screen and (max-width: 769px) {
    .result_cta_module {
        padding: 50px 0;
    }

    .result_cta_module h4 {
        font-size: 24px;
    }
}

/* final result module */

.finalresult_module {}

.finalresult_row {
    display: flex;
    justify-content: space-between;
}

.finalresult_row .finalresult_left {
    width: 68%;
    background-color: #f6f6f6;
    border-radius: 15px;
}

.finalresult_row .finalresult_right {
    width: 28%;
}

.result_heading {
    font-size: 24px;
    font-family: 'poppinsbold';
    padding: 20px 20px;
    border-bottom: 2px solid #ddd;
    text-transform: capitalize;
}

.final_product_listing {
    padding: 20px 20px;
}

.product_name {
    margin: 5px 0 0 0;
    font-size: 18px;
    text-transform: capitalize;
    color: #222;
}

.product_box span {
    font-size: 16px;
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    color: #222;
}

.product_box p {
    font-size: 15px;
    color: #222;
    line-height: 20px;
    font-family: 'poppinslight';
}

.product_box a {
    text-decoration: underline;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    text-transform: lowercase;
}

.product_list {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.product_list:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.product_box {
    width: 85%;
}

.product_add_remove {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus_minus {
    background-color: #fff;
    height: 30px;
    width: 30px;
}

.plus_minus span {
    background-color: #1C1C1C;
    height: 15px;
    width: 2px;
    display: inline-block;
}

.cart_produc_box {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.back_btn {
    cursor: pointer;
    span {
        display: flex;
        align-items: center;


        img {
            height: 25px;
            width: 40px;

        }
    }
}

.filter_row {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 68%;
    position: relative;
}

.filter_module {}

.filter_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 12px 20px;
    cursor: pointer;

    img {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    span {
        display: block;
        font-size: 18px;
        line-height: normal;
        font-family: 'oregon_ldo_lightoblique';
        font-weight: 600;
    }
}

@media only screen and (max-width: 991px) {
    .finalresult_row {
        flex-direction: column;
    }

    .finalresult_row .finalresult_left {
        width: 100%;
        margin-bottom: 30px;
    }

    .finalresult_row .finalresult_right {
        width: 100%;
    }
}


/* filter popup design */

.filter_popup {
    position: absolute;
    width: 500px;
    right: 0;
    background: #707070;
    z-index: 1;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}
.overlay {
    /* height: 100%;
    width: 100%; */
    position: relative;
   
}
.overlay::after{
    content: '';
    background-color: #ffffffa8;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
}

/* switch Ui */

/* The switch - the box around the toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider (the knob) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

/* When the toggle switch is checked, change the background color of the slider */
input:checked+.slider {
    background-color: #2196F3;
}

/* When the toggle switch is checked, move the slider to the right */
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider {
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
}
.close_btn{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    font-family: cursive;
    height: 30px;
    width: 30px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
}
h4.popup_filter_heading{
color: #fff;
font-size: 22px;
margin: 10px 0;
}
.toggle_on_off{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 20px;
    span{
        color: #fff;
        font-family: 'poppinsmedium';
        font-weight: 600;
    }
    .switch{
        margin: 0 15px;
    }
}
.category_section p{
color: #fff;
font-size: 18px;
font-family: 'poppinsmedium';
}
.category_section label{
    display: block;
    font-family: 'poppinsmedium';
    margin-bottom: 10px;
}
.category_row{
display: flex;
flex-wrap: wrap;
}
.category_section{
width: 48%;
margin-bottom: 20px;
}
.category_section label{
    font-size: 16px;
    color: #fff;
}
.filter_apply_btn {
    margin-top: 10px;
}
.filter_apply_btn .bb_btns{
    background: #fff;
    z-index: 9;
    padding: 10px 30px;
    font-size: 16px;

}

/* searchbar */

.search_box{
    position: relative;
    margin-right: 10px;
  }
  
  .search_box input.search{
    width: 48px;
    height: 48px;
    background: #fff;
    border: none;
    padding-left: 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    float: right; /* Align input to the right */
    color: #1C1C1C; /* Set default text color */
    padding-right: 30px; /* Adjust padding for the icon */
    border-radius: 35px;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
  }
  
  .search_box input.search::-webkit-input-placeholder {
    color: #1C1C1C;
    font-weight: 600;
    padding-left: 15px;
  }
  .search_box input.search:focus,
  .search_box input.search:active {
    outline: none;
  }
  .search_box .icon{
    position: absolute;
    right: 12px;
    margin-top: 11px; 
    z-index: 1;
    color: #1C1C1C;
  }
  
  .search_box:hover input.search{
    width: 400px;
    color: #000; /* Set text color to black on hover */
  }
  
  .filter_module{
    display: flex;
  }



  @media only screen and (max-width: 991px) {
    .filter_row {
        width: 100%;
    }
     
  .search_box:hover input.search{
    width: 300px;}
  }
  @media only screen and (max-width: 767px) {
    .search_box:hover input.search{
        width: 130px;}
        .filter_popup{
            width: 90%;
        }
  }


  .cart_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;

  }
  .cart_total_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 2px solid #ddd;
    margin-top: 10px;
  }
  .remove_circle{
        height: 28px;
        width: 28px;
        font-size: 20px;
        background-color: #ddd;
        color: #000;
        font-family: 'circular';
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
  }
  .cart_P_name{
    font-size: 16px;
    line-height: 22px;
    font-family: 'poppinsmedium';
    color: #000;
  }
  .cart_price{
    font-family: 'poppinsmedium';
    font-size: 16px;
    color: #000;
  }
  .cart_product_add_remove{
width: 80%;
display: flex;
align-items: center;
  }
  .cart_product_listing{
    margin-top: 10px;
  }
  .process_checkout_btn .process_formBtn .check_btn{
    padding: 15px 30px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #000;
    color:#fff;
  }

  .process_checkout_btn .process_formBtn .check_btn_disabled{
    opacity: 0.5;
    pointer-events: none;
    padding: 15px 30px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #000;
    color:#fff;
  }

  .process_checkout_btn button{
    width: 100% !important;
    padding: 15px 30px;
    z-index: 9;
  }
  .process_checkout_btn{
    margin-top: 30px;
  }